* {
    box-sizing: border-box;
    /* font-family: 'Roboto', sans-serif; */
}
main{
    padding: 30px 0;
}
.products__container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
}
.title {
    font-size: 3rem;
    color: gray;
    display: inline-block;
    user-select: none;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}

.products-blog {
    display: grid;
    grid-template-columns: auto auto;
    gap: 100px;
}
.product-img {
    width: 180px;
}

.item-title {
    color: black;
    user-select: none;
    padding-top: 20px;
}
.item-title:hover {
    color: gray;
}

.link {
    text-decoration: none;
}
.item {
    background: white;
    border-radius: 10%;
    padding: 15px 15px;
    box-shadow: 0 0 10px 1px #ddd;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item:hover {
    box-shadow: 0 0 20px 3px gray;
}
.img-blog img {
    transition: 1s;
}
.img-blog img:hover {
    transform: scale(1.08);
    z-index: 1;
}
.product-article{
    display: flex;
    flex-direction: column;
}