.categories__container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
}

.category__btn {
    background: none;
    color: white;
    background-color: green;
    border: none;
    margin: 10px;
    outline: none;
    padding: 10px 30px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 15px;
}
.category__btn:hover {
    cursor: pointer;
    background-color: white;
    color: green;
}
.category__btn:focus {
    color: #fff;
    background-color: green;
    cursor: pointer;
}