header {
  width: 100%;
  background-color: white;
  position: sticky;
  top:0;
  z-index: 5;
  box-shadow: 0 0 15px 1px wheat;
}
.container{
    max-width: 1310px;
    margin: 0 auto;
    padding: 30px 15px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 200px;
}
.navbar-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar{
    display: flex;
    align-items: center;
}
.navbar__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
.list-item{
    padding: 0px 30px;
}
.item-link{
    /* color: indigo; */
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 600;
}
.moon-sun{
    font-size: 1.5rem;
    border: none;
    background: none;
}
