header {
    background-color: #fff;
    top: 0;
    position: sticky;
    z-index: 5;
    box-shadow: 0 0 15px 1px #151515;
}

.header__container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 30px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 
.logo {
    width: 200px;
}

.header-link__wrapper {
    background-color: #fff;
    padding: 10px 20px;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    user-select: none;
}

.moon-btn {
    width: 50px;
    border: none;
    background: none;
    cursor: pointer;
    height: 50px;
    font-size: x-large;
    border-radius: 50%;
}

.header__link {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 700;
    color: gray;
    max-width: 100px;
    position: relative;
    font-family: monospace;
}

.header__link:hover::before {
    height: 3px;
    background-color: green;
    content: '';
    width: 100%;
    display: block;
    transition-delay: 2s;
    position: absolute;
    bottom: -5px;
}
.header__link:focus::before {
    height: 3px;
    background-color: green;
    content: '';
    width: 100%;
    display: block;
    position: absolute;
    bottom: -5px;
}

.navbar {
    display: flex;
    align-items: center;
}
.navbar__list {
    align-items: center;
    display: flex;
    gap: 50px;
    user-select: none;
}

.navbar__list-item {
    list-style: none;
}