.single-item {
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.img-wrapper {
    background-color: white;
    border-radius: 50%;
    padding: 100px 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-wrapper img{
    width: 300px;
}
.product-title {
    line-height: 30px;
    width: 40%;
    padding: 40px;
}
.buying-blog {
    margin-top: 15px;
}
.purchase {
    color: white;
    background: green;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 25px;
}
.purchase:hover {
    background: linear-gradient(to right, green, yellowgreen);
}
.single-item {
    margin-top: 100px;
}
.x-btn {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    font-size: 2rem;
    border: none;
    font-weight: 500;
    padding: 1px 10px;
    transition: 0.1s;
    color: white;
    cursor: pointer;
}
.x-btn:hover {
    background-color: rgb(255, 0, 0);
    color: white;
}
.x-btn-link {
    position: absolute;
    top: 0;
    right: 0;
    text-decoration: none;
}